$color-background-primary: #0e0c15 !default;
$color-background-brand: #0e0c15 !default;

$color-background-backdrop: rgba(0, 0, 0, 0.48) !default;
$color-background-white: #ffffff !default;

$color-text-white-inactive: #ffffff !default;

$color-text-grey-inactive: #9ca3af !default;

$color-text-light-inactive: #616d8d !default;
