$font-family-header: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$font-family-text: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial,
  sans-serif !default;
$font-family-mono: "Roboto Mono", monospace !default;

$font-size-h1: 54px !default;
$font-size-h2: 44px !default;
$font-size-h3: 34px !default;
$font-size-h4: 26px !default;
$font-size-h5: 20px !default;
$font-size-h6: 17px !default;

$font-size-subtitle1: 19px !default;
$font-size-subtitle2: 17px !default;
$font-size-subtitle3: 15px !default;

$font-size-body1: 19px !default;
$font-size-body2: 17px !default;
$font-size-body3: 15px !default;

$font-weight-medium: 500 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$font-weight-h1: 500 !default;
$font-weight-h2: 500 !default;
$font-weight-h3: 400 !default;
$font-weight-h4: 500 !default;
$font-weight-h5: 700 !default;
$font-weight-h6: 700 !default;

$font-weight-subtitle1: 500 !default;
$font-weight-subtitle2: 500 !default;
$font-weight-subtitle3: 500 !default;

$font-weight-body1: 400 !default;
$font-weight-body2: 400 !default;
$font-weight-body3: 400 !default;
