$size-border-radius-x1: 2px !default;
$size-border-radius-x2: 4px !default;
$size-border-radius-x3: 6px !default;
$size-border-radius-x4: 8px !default;
$size-border-radius-x5: 10px !default;
$size-border-radius-x6: 12px !default;
$size-border-radius-x8: 16px !default;
$size-border-radius-x10: 20px !default;
$size-border-radius-x12: 24px !default;
$size-border-radius-x15: 30px !default;
$size-border-radius-circle: 50% !default;
$size-border-width-regular: 1px !default;
$size-control-height-small: 40px !default;
$size-control-height-medium: 48px !default;
$size-control-height-large: 56px !default;
$size-icon-small: 18px !default;
$size-icon-medium: 20px !default;
$size-icon-large: 24px !default;
$size-spacing-x1: 4px !default;
$size-spacing-x2: 8px !default;
$size-spacing-x3: 12px !default;
$size-spacing-x4: 16px !default;
$size-spacing-x5: 20px !default;
$size-spacing-x6: 24px !default;
$size-spacing-x7: 28px !default;
$size-spacing-x8: 32px !default;
$size-spacing-x9: 36px !default;
$size-spacing-x10: 40px !default;
