.container__todo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

li {
  display: flex;

  justify-content: space-between;
  gap: 5rem;
}

.delete {
  cursor: pointer;
  color: red;
}

input:checked + span {
  text-decoration: line-through;
}
