$color-background-primary: #57abbf !default;
$color-background-brand: #004353 !default;
$color-background-backdrop: #e6d468 !default;
$color-background-secondary: #cdaf00 !default;

$color-header-background: $color-background-brand !default;
$color-header-text: #d53581 !default;
$color-header-background-inactive: #004353 !default;

$color-main-card-color: #d56097 !default;
$color-main-text: $color-background-backdrop;
$color-main-text-inactive: #8c8b8bb7 !default;

$color-text-primary: #000000 !default;

$color-background-white: #ffffff !default;

$color-text-white-inactive: #ffffff !default;

$color-text-grey-inactive: #9ca3af !default;

$color-text-light-inactive: #616d8d !default;
