@use "../../../../assets/consts/style/index" as color;

.container__item {
  list-style-type: none;
  width: 200px;
  height: 200px;
  border: 1px solid color.$color-text-primary;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: color.$color-background-primary;
  &-text {
    &-line {
      text-decoration: line-through;
    }
  }
}
