$color-background-primary: #1678ff !default;
$color-background-brand: #3c73bf !default;
$color-background-backdrop: #074aa6 !default;
$color-background-white: #ffffff !default;

$color-orange-: #ff9f00 !default;
$color-orange-main: #ff9f00 !default;

$color-text-white-inactive: #ffffff7b !default;

$color-text-grey-inactive: #9ca3af !default;

$color-text-light-inactive: #616d8d !default;
