@use "../../assets/consts/style/_colors.scss" as colors;

.container__todo-main {
  display: flex;
  justify-items: row;
  flex-direction: column;
  align-items: center;
  color: colors.$color-main-card-color;
}
